
h3 {
    border: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: lightgrey;
}

button {
    color: #43454b;
    font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 2rem;
    text-rendering: optimizeLegibility;
    font-weight: bolder;
    padding: 0.5rem 10rem;
    background-color: darkgray;
    border-radius: 0.4rem;
    margin: 4px;
    color: blueviolet;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    border: 0;

}

button:hover {
    color: darkmagenta;
}

section {
    text-align: center;
}