h3 {
    border: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: lightgrey;
}

button {
    font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 2rem;
    text-rendering: optimizeLegibility;
    font-weight: bolder;
    padding: 2rem;
    background-color: darkgray;
    margin: 2rem;
    color: blueviolet;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 1);
    border: 0;
    font-size: 3rem;

}

button:hover {
    color: darkmagenta;
}

section {

    text-align: center;
}